body {
    background-image: url(./images/main_bg.jpg);
}
h1 {
    color: #5C3D1F;
    font-family: Arial, sans-serif;
    padding: 0px;
    margin: 0px 0px 5px 0px;
    clear: both;
}
p {
    font-family: Arial, sans-serif;
    padding: 0px;
    margin: 10px 0px 0px 0px;
}
img {
    margin: 10px 20px 40px 0px;
    float: left;
}
.content {
    padding: 25px 30px 40px 30px;
    width: 600px;
    margin: 0px 0px 60px 40px;
    border: 8px dashed #94704D;
}